.est1 {
  background-color: red;
}

.est2 {
  background-color: green;
}

.est3 {
  background-color: yellow;
}

.classChildView {
  border: 5px peachpuff solid;
}

.active-router {
  background-color: red;
  color: white;
}
.active-router2 {
  background-color: purple;
  color: white;
}