<h3> SECOND TEST</h3>
<p>Name: Alejandra Gabriela Chirinos Valle</p>

<div  style="border: 5px blue solid; background-color: aqua;">

<div style="border: 5px thistle; background-color: blueviolet;">
  <h3> WALLETS </h3>
</div>


<div style="border: 5px thistle; background-color: thistle;">
  TOTAL BTC: {{getTotalCoin('btc')}} <br>
  TOTAL ETH: {{getTotalCoin('eth')}}
</div>

<br>

<div  style="background-color: greenyellow;">
  <div *ngIf="getTransactionsStatus()">
    THERE ARE NOT TRANSACTIONS
  </div>
</div>

<br>

<div style="display: flex; flex-direction: row">
  <div *ngFor="let wallet of wallets">
    <app-wallet [data]="wallet">

    </app-wallet>
  </div>
</div>

<div style="border: 5px thistle; background-color: blueviolet;">
<h3> TRANSACTIONS </h3>
</div>

<div style="display: flex; flex-direction: row;">
  <div *ngFor="let transaction of transactions; let i = index;">

    <app-transaction [data]="transaction">
      <button
        [disabled]="transaction.mineType === 'PoS' &&
       transaction.miner < 20"
      (click)="onMine(transaction, i)">
        mine
      </button>
    </app-transaction>
  </div>
</div>

</div>
