<h3> SECOND TEST</h3>
<p>Name: Alejandra Gabriela Chirinos Valle</p>

<div style="border: 5px blue solid; background-color: aqua;">

  <div style="border: 5px yellow solid; background-color: rgb(110, 224, 16);">
    Vaccine: A={{aType}}, B={{bType}}, C={{cType}}
  </div>

  <h2> 1. VACUNAS</h2>

  <div style="background-color: rgb(110, 224, 16);">
    <div *ngIf = "vac.length === AllPosVac.length">
      EVERYBODY VACCINATED
    </div>
  </div>

  <br>
    
  <div style="border: 5px purple solid; background-color: plum;">
    VACCINATED Total: {{vac.length}}
  </div>

    <p>VACCINATED PEOPLE</p>

    <div style="display: flex; flexDirection: row;">
    <div *ngFor="let item of vac"> 
      <app-person
      [name]="item.name"
      [age]="item.age"
      [date]="item.date"
      [disease]="item.disease"
      [vaccineType]="item.vaccineType"
      [vaccined]="item.vaccined"
      [doses]="item.doses"
      (vaccinate)="vaccinate(item)">

      </app-person> 
    </div>
  </div>

  <p></p>
    
    <div style="border: 5px purple solid; background-color: plum;">
      NOT VACCINATED Total: {{noVac.length}}
    </div>
    <p>NOT VACCINATED PEOPLE</p>

    <div style="display: flex; flexDirection: row;">
      <div *ngFor="let item of noVac"> 
        <app-person
        [name]="item.name"
        [age]="item.age"
        [date]="item.date"
        [disease]="item.disease"
        [vaccineType]="item.vaccineType"
        [vaccined]="item.vaccined"
        [doses]="item.doses"
        (vaccinate)="vaccinate(item)">
        </app-person> 
      </div>
    </div>
</div>
