<p>APP</p>

<p> ---- PIPES IMPURE AND PURE ------- </p>
<p>PURE: {{ data | pure }}</p>
<p>IMPURE: {{ data | impure }}</p>

<button (click)="data.push(10)">add</button> 

<p> ----- ROUTES ------- </p>

<button routerLink="view1"
        routerLinkActive="active-router">view1</button>
<button routerLink="view2/5/sub/34"
        routerLinkActive="active-router">view2</button>
<button routerLink="view1/view1sub1"
        routerLinkActive="active-router">view1/view1sub1</button>
<button routerLink="view3"
        routerLinkActive="active-router">view3</button>
<div style="border: 4px red solid">
  <router-outlet>

  </router-outlet>
</div>

<p>--------- HOMEWORK MODULES ROUTING ---------- </p>
<button routerLink="home"
        routerLinkActive="active-router2">home</button>
<button routerLink="home/home1"
        routerLinkActive="active-router2">home/home1</button>
<button routerLink="home/home2"
        routerLinkActive="active-router2">home/home2</button>
<button routerLink="admin"
        routerLinkActive="active-router2">admin</button>
<button routerLink="admin/admin1"
        routerLinkActive="active-router2">dmin/admin1</button>
<button routerLink="admin/admin2"
        routerLinkActive="active-router2">admin/admin2</button>

<p>--------- NAVEGATION WITH TS ---------- </p>
<button (click)="onGoView2FromTS()">GO VIEW 2 FROM TS</button>

<p>--------- QUERY PARAMS ---------- </p>
<button routerLink="view2/5/sub/34"
        [queryParams]="{name: 'alejandra', lastName: 'chirinos'}"
        routerLinkActive="active-router">view2</button>

<p>--------- HOMEWORK MODULES ROUTING BY MODULES ---------- </p>
<button routerLink="homeM"
        routerLinkActive="active-router2">homeM</button>
<button routerLink="homeM1"
        routerLinkActive="active-router2">homeM1</button>
<button routerLink="homeM2"
        routerLinkActive="active-router2">homeM2</button>
<button routerLink="adminM"
        routerLinkActive="active-router2">adminM</button>
<button routerLink="adminM1"
        routerLinkActive="active-router2">adminM1</button>
<button routerLink="adminM2"
        routerLinkActive="active-router2">adminM2</button>


<!--<p> MODULOS </p>
<app-admin1> </app-admin1>

<div style="border: 5px pink solid;">
  <p> HOMERWORK 2  - MODULES</p>
  <h3> APP MODULE </h3>
  <div style="border: 5px blue solid;">
    <h3>CORE </h3>
    <app-core1></app-core1>
  </div>
</div>
-->

<!-- <button directive1Test (click)="onAddVideo()"> add Video </button>
<button directive1Test (click)="person1Unsubscribe()"> Unsuscribe person A</button>

<input type="text" [(ngModel)]="color">

<p [directive1Test]="color"
   (outputTest)="test($event)"
  >Ni primera directiva de atributo 
</p>

<input type="checkbox" [(ngModel)]="sw"> ngIfAlejandra

<div *ngIfAlejandra="sw"  (test)="test100($event)">

  <p>my own strcutural directive </p>

</div>

<p> ------------------------------------------------- </p>

<div #myDiv1>contnet</div>
<p>{{myDiv1}}</p>

<alejandrachirinos #myCompAlejandra></alejandrachirinos>

<input type="text" #myDiv2 value="asdasd">
<p>{{myDiv2}}</p>

<button (click)="onShowLocalVars()">show local vars</button>

<div #myDiv3> homework </div>
<p>{{myDiv3}}</p>
-->






<!-- <p> App Component</p>

<alejandrachirinos [status]="myStatus" (onSendData)="printDataAlejandraComponent($event)">
</alejandrachirinos>

<app-test2 name="alejandra" lastname="chirinos" (onSendData)="printData($event)">
</app-test2> 

<input type="text" [(ngModel)]="myStatus" > 

<button (click)= "sw =! sw"> SHOW TEST3 </button>

<div *ngIf="sw">
  <app-test3 [name2]="myStatus"></app-test3>
</div>

<ul>
  <li *ngFor = "let item of [1, 2, 3, 4, 5, 6]">{{item}}</li>

  <li> first </li>
  <li> second </li>
  <li> third </li>
</ul>

<ul>
  <li *ngFor = "let item of ['first', 'second']; let i = index;">{{item}} {{i + 10}}
    <alejandrachirinos *ngIf = "item === 'first'"
      [status]="item" (onSendData)="printDataAlejandraComponent($event)">
    </alejandrachirinos>
  </li>
</ul>

<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'"> 
    <alejandrachirinos [status]="color" (onSendData)="printDataAlejandraComponent($event)">
    </alejandrachirinos>
  </li>
  <li *ngSwitchCase="'yellow'"> 
    <app-test2 [name]="color" (onSendData)="printData($event)">
    </app-test2>
  </li>
  <li *ngSwitchCase="'green'"> green </li>
  <li *ngSwitchDefault> orange </li>
</ul>

<div style="border: 5px purple solid;">
  <p> - Mostrar una lista de personas dinamicamente mediante un componente ingresando name y lastname. </p>
  <ul>
    <li *ngFor="let person of people"> {{person.name}} {{person.lastName}}</li>
  </ul>
</div>

<button (click)= "sw =! sw"> SHOW TEST3 </button>
<div *ngIf="sw else MyVarElse">
  <app-test3 [name2]="myStatus"></app-test3>
</div>

<ng-template #MyVarElse>
  <p> This is my template </p>
</ng-template>

<app-test2 name="alejandra" lastname="chirinos" (onSendData)="printData($event)">
  <p> My own content </p>
  <button>My button</button>
</app-test2> 

<button (click)= "sw =! sw"> Button container </button>
<ng-container *ngIf="sw" style="margin: 30px;">
  <p>NG CONTAINER</p>
</ng-container>

<input type="text" [(ngModel)]="color" > 
<div [style.border]= "'5px solid ' + color">
  my div with styles
</div>

<p [ngStyle]="{'background': color, 'border': '5px gray solid'}">
  my p with ng style
</p>

<div [class.est1]="color === 'hola'"> 
  my div with class
</div>

<div [ngClass]="{
'est1': color === 'hola0',
'est2': color === 'hola1',
'est3': color === 'hola2'
}"> 
  my div with ng class
</div>

<div style="border: 5px blue solid;">
  <p> - Mostrar con diferente color pares e impares usando ngFor </p>
  <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
    <ng-template #odd>
      <ul>
        <li [style.background]="'yellow'">{{item}}</li>
      </ul>
    </ng-template> 
    <ul *ngIf="item%2 === 0; else odd">
      <li [style.background]="'red'">{{item}}</li>
    </ul>
  </ng-container> 
</div>
-->